* {
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 14px;
  font-weight: bold;
  border: 1px;
  padding: 0;
  margin: 0;
  color: #fc2d5e;
}

#workspaces button {
margin: 0 4px;
padding: 2px 6px;
background-color: transparent;
}

#workspaces button.active { color: #02a332;}

#workspaces button.urgent { color: #00a130; }


window#waybar {
  background-color: rgba(40, 40, 40, 0.95);
  color: #d0d0d0;
  border-bottom: 3px solid #fc2d5e;
}

#clock {
}

#cpu { margin-right: 15px; }
#memory { margin-right: 15px; }
#battery { margin-right: 15px; }
#pulseaudio { margin-right: 15px; }
#tray { margin-right: 15px; }


#custom-btcprice { margin-left: 100px; }

#bluetooth { margin-right: 15px; font-size: 16px; }
