
//@theme "/home/drisker/.local/share/rofi/themes/rounded-pink-dark.rasi"

//@theme "/home/drisker/.local/share/rofi/themes/rounded-pink-dark.rasi"

//@theme "/home/drisker/.local/share/rofi/themes/rounded-pink-dark.rasi"

@theme "/home/drisker/.local/share/rofi/themes/simple-tokyonight.rasi"
